<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="XmlTreeWalker">
    <module name="XQueryCheck">
         <property name="namespaces" value="bk, urn:xmlns:25hoursaday-com:bookstore, inv, urn:xmlns:25hoursaday-com:inventory-tracking"/>
         <property name="expression" value="for $b in /bk:bookstore/bk:book
                                            where $b/bk:title = 'Lord of the Rings'
                                            and $b/inv:inventory[@status = 'in-stock']
                                            return $b"/>
     </module>
  </module>
</module>